<div class="consultation-bg-img" appDefaultImage [type]="'consultation-cover'"
[ngStyle]="profileData?.department?.theme?.coverPhoto?.url ? {'background-image': 'url(' + profileData?.department?.theme?.coverPhoto?.url + ')'} : null"></div>
<div class="consultation-profile">
  <aside class="consultation-profile__sidebar-section">
    <app-profile-card [profile]='profileData' [loading]="loading"></app-profile-card>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
<app-footer></app-footer>
