@import './src/assets/styles/app';


//modal-styles

.notification-drawer {
    background: rgba(14, 115, 185, 0.6) !important;

    .modal-dialog {
      margin: 0 0 0 auto;
      max-width: 600px !important;

      .modal-content {
        height: 100vh !important;
        padding: 0 0 10px 0;
        border: none;
        border-radius: 0;
        overflow-y: auto;
      }

      .modal-body {
        padding: 0;
      }

      .header {
        padding: 10px;
        border-bottom: 1px solid lightblue;
        background: rgba(14, 115, 185, 0.7) !important;
        color: white;
      }

      .notification-list {
        list-style-type: none;
        background: whitesmoke;
        padding: 0px;
        color: #0052cc;

        li {
          border-bottom: 1px solid lightgrey;
          padding: 8px;
        }
      }

      .modal-close-btn {
        font-size: 24px;
        color: white;
        cursor: pointer;
      }
    }
  }

  .modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(125%, 0, 0);
    transform: translate3d(125%, 0, 0);
  }


