<div class="privacy-wrapper">
  <div class="privacy-wrapper__header">
    <p class="title">{{'Privacy Policy' | translate}}</p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Background' | translate}}</p>
    <p class="detail-content">{{'Civic Innovation Foundation (collectively, "Civis", "we", or "us") respects your privacy and is committed to protecting it.' | translate}}</p>
    <p class="detail-content">
      {{'This Privacy Policy (the "Policy") explains how Civis collects, uses, shares and stores information collected from you, when you visit or share your views on www.civis.vote (the "Site"), when you use the Site, and other online services (collectively, the "Services") or when you otherwise interact with us or receive any communication from us.' | translate}}
    </p>
    <p class="detail-content">
      {{'This Policy provides the rationale for collection of such information, and the privacy rights and choices you have regarding your information submitted to us when you use our Services. This Policy applies to all users of Services provided by Civis on its Site and the App, as well as other users who have provided information to Civis. The use of the terms "you", "yours" and/or "user(s)" refers to all users of the Services.' | translate}}
    </p>
    <p class="detail-content">
      {{'This Policy is primarily applicable to residents of India. If you are accessing this service from any other country, please note that your respective local privacy laws may be applicable.' | translate}}
    </p>
    <p class="detail-content">
      {{'This Policy has been developed and is maintained in accordance with applicable law in India, such as the Digital Personal Data Protection Act, 2023, the Information Technology Act, 2000 and all applicable Rules thereunder including the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011. This Policy may be updated from time to time to reflect applicable legal developments. An updated version of the Policy will be made available at all times on our Site.' | translate}}
    </p>
    <p class="detail-content">
      {{'Please read this Policy carefully prior to using our services. By accessing the Site and using our Services, you agree to be bound by this Policy. When you share your personal information, you consent to the collection, use, disclosure, sharing and storing of the same in line with the terms of this Policy. You may access, modify and/or delete your personal information in accordance with this Policy.' | translate}}
    </p>
    <p class="detail-content">
      {{'If you have any questions about this Policy, please contact us at' | translate}} <a href="mailto:info@civis.vote">info@civis.vote</a>.
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Personal Information and Sensitive Personal Information' | translate}}</p>
    <p class="detail-content">
      {{'For the purposes of this Policy, "Personal Information" means the information which identifies a User i.e., first and last name, email address, age, gender, location, phone number, and includes your Sensitive Personal Information (defined below), provided at the time of registration or any time thereafter on the Site.' | translate}}
    </p>
    <p class="detail-content">
      {{'We request you to not provide Civis with any Personal Information unless specifically requested by us. In the event you share any Personal Information with Civis without us having specifically requested for the same, then we bear no liability in respect of such Personal Information provided by you.' | translate}}
    </p>
    <p class="detail-content">
      {{'Passwords, financial information such as bank account, credit or debit card, or other payment instrument details, and any other additional information categorized by law as sensitive shall be referred to as "Sensitive Personal Information" in this Policy.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Information You Provide To Us' | translate}}</p>
    <p class="detail-content">
      {{'We only collect information about you if we have a reason to do so — for example, to provide access to our Services, to communicate with you, or to improve our offerings. This includes:' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Account information:' | translate}}</u> {{'To sign up to the Site, you must create an account. To create an account, you must provide certain Personal Information, which includes, but is not limited to, your name, pin code, gender, date of birth, phone number and email address. You will have to also create a username and password. We store your Personal Information along with your user account preferences and settings.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Content you submit:' | translate}}</u> {{'We collect the content you submit to the Services. This includes your posts and comments, your messages to other users of the Site, moderators and to us. Your content may include text, links, images, gifs and videos.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Actions you take:' | translate}}</u> {{'We collect information about the actions you take when using the Services. This includes your interactions with content like voting, posting, saving and reporting content. It also includes your interactions with other users.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'When you communicate with us:' | translate}}</u> {{'When you write to us with a question, feedback or to ask for help, we may maintain a record that correspondence, and the email address, for future reference; this may also include any phone/ mobile numbers if you have provided us the same as part of your communication either in writing (emails included), over a phone call or otherwise. You may also provide us your Personal Information when you respond to surveys, enter any form of contests, tests, events, competitions, webinars, etc., hosted by Civis, either on the Site or otherwise, or when you otherwise communicate with us via form, e-form, email, phone, or otherwise. Civis may keep records of telephone calls, to or from you, for the purpose of rendering our offerings effectively and efficiently.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Payment/purchase information:' | translate}}</u> {{'To access our paid features and offerings, or to make donations to us, you may be required to provide details of your credit or debit card, or you may be required to create or log into a separate account on a payment gateway such as "PayTM" or "Razorpay". Any payment made/processed or payment details provided to or shared with authorized payment gateway providers shall be stored directly by such payment gateway providers without any information passing through or related to Civis.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Other information:' | translate}}</u> {{'We collect information you may choose to provide directly to us by way of filling out a form or participating in other Site activities.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Information We Collect' | translate}}</p>
    <p class="detail-content">
      {{'When you visit the Site, we automatically collect certain information about your device, including information about whether you are using a mobile device or desktop, your web browser type, your operating system type, IP address, time zone, language settings and some of the cookies that are installed on your device. Additionally, as you browse the Site, we collect information about the individual web pages that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically-collected information as "Device Information."' | translate}}
    </p>
    <p class="detail-content">
      {{'We collect Device Information using the following technologies:' | translate}}
    </p>
    <p class="detail-content">
      {{'"Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit' | translate}} <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a>.
    </p>
    <p class="detail-content">
      {{'"Log files" track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, date/time stamps and user interaction/actions on the Site (such as pages visited, links clicked, errors faced etc.).' | translate}}
    </p>
    <p class="detail-content">
      {{'"Web beacons," "tags," and "pixels" are electronic files used to record information about how you browse the Site.' | translate}}
    </p>
    <p class="detail-content">
      {{'When we talk about "Information" in this Privacy Policy, we are talking both about Device Information and Personal Information.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'How We Use Your Information' | translate}}</p>
    <p class="detail-content">{{'We use the Personal Information that we collect to:' | translate}}</p>
    <ul class="detail-content">
      <li>{{'Understand and analyze demographic trends derived by us from the content you submit and the actions you take.' | translate}}</li>
      <li>{{'Provide, maintain and improve the Services.' | translate}}</li>
      <li>{{'Monitor and analyze trends, usage and activities in connection with the Services.' | translate}}</li>
      <li>{{'Communicate with you.' | translate}}</li>
      <li>{{'Provide you and other with information or advertising relating to the Services.' | translate}}</li>
      <li>{{'To establish, exercise, or defend legal claims.' | translate}}</li>
      <li>{{'To better understand our users.' | translate}}</li>
    </ul>
    <p class="detail-content">
      {{'We may also use this information to comply with the applicable laws, court orders, and government enforcement agency requests.' | translate}}
    </p>
    <p class="detail-content mt-4">{{'We use the Device Information that we collect to:' | translate}}</p>
    <ul class="detail-content">
      <li>{{'Authenticate you as a user.' | translate}}</li>
      <li>{{'Help protect the safety of the Site and our users by screening for potential risk and fraud (in particular, your IP address).' | translate}}</li>
      <li>{{'Improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, and to assess the success of our marketing campaigns).' | translate}}</li>
      <li>{{'Provide you with information or advertising relating to the Services.' | translate}}</li>
    </ul>
    <p class="detail-content">
      {{'We share Information with governmental and non-governmental organizations with whom we partner. Submissions that you make in response to consultations, will be shared with the government or non-government organisation that has sought the consultation. Only the first name that you provide along with your response will be visible, together with your submission. No other information about you will be associated with your response. Your Information can be anonymised and encrypted, and shared as "submitted by Citizen Leader". Here, the governmental or non-governmental organisation that has sought the consultation will only have access to the demographic trends, the content you submit and the actions you take. These are anonymized and never linked with your account information unless you choose to make your content public. We do not share, sell, or give away your Information to third parties otherwise than for the purposes described above.' | translate}}
    </p>
    <p class="detail-content">
      {{'In the event of any unauthorized use, or illegal disclosure, of your information, or on receipt of your complaint (procedure is provided in the "Grievance Redressal" section below), we will investigate such use/disclosure/complaint and take appropriate action in accordance with applicable law.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'How Your Information Is Shared' | translate}}</p>
    <p class="detail-content">
      {{'We share your Information with third parties when required for the purposes described above. Here are some of the third parties with whom we share your Information:' | translate}}
    </p>
    <ul class="detail-content">
      <li><strong>Disqus</strong> - {{'to integrate a comment section onto our Site and App. Information you provide in the comment section may automatically be shared with Disqus.' | translate}} (<a href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy" target="_blank">{{'see Disqus\' Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Google Analytics</strong> - {{'to help us understand how our users use the Site' | translate}} (<a href="https://policies.google.com/privacy" target="_blank">{{'see Google Analytics\' Privacy Policy here' | translate}}</a>. {{'You can also opt-out of Google Analytics' | translate}} <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">{{'here' | translate}}</a>)</li>
      <li><strong>FullStory</strong> - {{'to analyze your use of our products, services, or applications' | translate}} (<a href="https://www.fullstory.com/legal/privacy-policy/" target="_blank">{{'see Fullstory\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Glific</strong> - {{'to provide a WhatsApp chatbot for outreach' | translate}} (<a href="https://glific.org/terms-and-conditions/" target="_blank">{{'see Glific\'s Terms and Conditions here' | translate}}</a>)</li>
      <li><strong>Gupshup</strong> - {{'to set up messaging services for communication' | translate}} (<a href="https://www.gupshup.io/privacy-policy" target="_blank">{{'see Gupshup\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Mailchimp, Postmark and Substack</strong> - {{'to deliver our newsletters to you' | translate}} (<a href="https://mailchimp.com/legal/privacy/" target="_blank">{{'see Mailchimp\'s' | translate}}</a>, <a href="https://postmarkapp.com/privacy-policy" target="_blank">{{'Postmark\'s' | translate}}</a> {{'and' | translate}} <a href="https://substack.com/privacy" target="_blank">{{'Substack\'s Privacy Policies here' | translate}}</a>)</li>
      <li><strong>Facebook OAuth and Google OAuth</strong> - {{'to help you login to our services with your Facebook and Google accounts respectively' | translate}} (<a href="https://www.facebook.com/privacy/policy/" target="_blank">{{'see Meta\'s' | translate}}</a> {{'and' | translate}} <a href="https://policies.google.com/privacy" target="_blank">{{'Google\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Stripo</strong> - {{'to assist us in designing our email newsletters' | translate}} (<a href="https://stripo.email/privacy-policy/" target="_blank">{{'see Stripo\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Hootsuite</strong> - {{'for social media tracking' | translate}} (<a href="https://www.hootsuite.com/legal/privacy" target="_blank">{{'see Hootsuite\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Hostinger</strong> - {{'to host our website and assist with creation of legal summaries' | translate}} (<a href="https://www.hostinger.com/privacy-policy" target="_blank">{{'see Hostinger\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>ScoutAPM</strong> - {{'for application performance monitoring' | translate}} (<a href="https://scoutapm.com/privacy" target="_blank">{{'see ScoutAPM\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Metabase</strong> - {{'for analytical visualisation and monitoring' | translate}} (<a href="https://www.metabase.com/privacy" target="_blank">{{'see Metabase\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Cloud 66</strong> - {{'for application deployment services' | translate}} (<a href="https://www.cloud66.com/legal/privacy" target="_blank">{{'see Cloud 66\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>GitHub</strong> - {{'for code management and version control' | translate}} (<a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank">{{'see GitHub\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Airbrake</strong> - {{'for error monitoring and reporting' | translate}} (<a href="https://airbrake.io/privacy" target="_blank">{{'see Airbrake\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Sarvam AI</strong> - {{'for translate works in indic languages' | translate}} (<a href="https://www.sarvam.ai/privacy-policy" target="_blank">{{'see Sarvam AI\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>Plaud.AI</strong> - {{'to transcribe interviews and group discussions' | translate}} (<a href="https://www.plaud.ai/privacy" target="_blank">{{'see Plaud.AI\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>AWS and Google Cloud Storage</strong> - {{'for data storage solutions' | translate}} (<a href="https://aws.amazon.com/privacy/" target="_blank">{{'see AWS\'' | translate}}</a> {{'and' | translate}} <a href="https://cloud.google.com/privacy" target="_blank">{{'Google Cloud Storage\'s Privacy Policies here' | translate}}</a>)</li>
      <li><strong>Azure AI Foundry and OpenAI</strong> - {{'for AI services' | translate}} (<a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">{{'see Azure AI Foundry\'s' | translate}}</a> {{'and' | translate}} <a href="https://openai.com/privacy/" target="_blank">{{'OpenAI\'s Privacy Policies here' | translate}}</a>)</li>
      <li><strong>Prashnam AI</strong> - {{'for IVR-based surveys' | translate}} (<a href="https://prashnam.ai/privacy-policy" target="_blank">{{'see PrashnamAI\'s Privacy Policy here' | translate}}</a>)</li>
      <li><strong>ImageMagick</strong> - {{'for image processing' | translate}} (<a href="https://imagemagick.org/script/privacy-policy.php" target="_blank">{{'see ImageMagick\'s Privacy Policy here' | translate}}</a>)</li>
    </ul>
    <p class="detail-content">
      {{'Please note that the list of the specific third-party tools we use is accurate and up-to-date as on the date of the last update of our Privacy Policy. We regularly review and update the list of third-party tools, and changes to this list may take time to reflect in our Privacy Policy. This list is, accordingly, indicative and is being provided in the interest of complete disclosure and transparency. It may contain third-party tools that we no longer use, and may have omitted some tools that we have started using since this Policy was last updated.' | translate}}
    </p>
    <p class="detail-content">
      {{'Finally, we may also share your Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights. We may also, in other instances, share information with your express consent or at your direction.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Behavioural Advertising' | translate}}</p>
    <p class="detail-content">
      {{'As described above, we use your Information to provide you with advertisements or marketing communications we believe may be of specific interest to you. For more information about how such advertising works, you can visit the Network Advertising Initiative\'s ("NAI") educational page.' | translate}}
    </p>
    <p class="detail-content">
      {{'You can also opt out of customised advertising by visiting the advertising settings of Facebook, Google, Bing. Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance\'s opt-out portal.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Do Not Track' | translate}}</p>
    <p class="detail-content">
      {{'When we see a "Do Not Track" signal from your browser, we will comply with such request, and not supercede such signal. Our Site\'s data collection and use practices are set to comply with such requests.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Duration for which your Information is Stored' | translate}}</p>
    <p class="detail-content">
      {{'When you delete any of the information provided by you or when you delete your account, the same will be deleted from our servers too, except when we are required by law to retain such information or any part thereof. Such information will be retained for such time as stipulated by the applicable law.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Your Choices' | translate}}</p>
    <p class="detail-content">
      <u>{{'Limit the information you provide:' | translate}}</u> {{'You always have an option to choose what information and the extent of Information you provide to us, including the option to update or delete your Information. However, please note that withholding of certain Information may not allow you to access some or all of the Services and some or all of the features of the Site.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Limit the communications you receive from us:' | translate}}</u> {{'You will also have the option to choose what kind of communication you would like to receive from us and whether you would like to receive such communication at all or not. However, you may not be able to limit or opt out of certain communications, including those required for legal or security purposes, such as changes to various legal agreements and policies.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Your Rights' | translate}}</p>
    <p class="detail-content">
      <u>{{'Right to access:' | translate}}</u> {{'You have the right to access your Personal Information collected and processed by us. You also have the right to access the identities of third-parties with whom your Personal Information has been shared along with a description of the Personal Information so shared unless your personal data has been shared for the purpose of prevention, detection, or investigation of offences or cyber incidents, or for the prosecution or punishment of offences.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Right to correction:' | translate}}</u> {{'You have the right to ask us to rectify your Personal Information that you think is inaccurate. You also have the right to ask us to update your Personal Information that you think is incomplete or out-of-date.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Right to erasure:' | translate}}</u> {{'If you wish to withdraw/remove your Personal Information from our Site, you have the right to request erasure of your Personal Information from our Site. However, please note that such erasure will remove all your Personal Information from our Site (except as specifically stated in this Policy) and may result in deletion of your account on the Site permanently, and the same will not be retrievable. Please note that this right may be subject to retention requirements under applicable law.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Right to grievance redressal:' | translate}}</u> {{'You have the right to have your questions and concerns about your data and Personal Information addressed and you may do so by reaching out to us at the contact details provided below.' | translate}}
    </p>
    <p class="detail-content">
      <u>{{'Right to Nominate:' | translate}}</u> {{'You have the right to nominate any other individual, who shall, in the event of your death or incapacity, exercise your rights in accordance with this Policy.' | translate}}
    </p>
    <p class="detail-content">
      {{'You are entitled to exercise all of the above rights only with respect to your own information, including Personal Information, and not that of other users. To exercise any of these rights, please contact us at the information set out at the "Grievance Redressal" section below.' | translate}}
    </p>
    <p class="detail-content">
      {{'The Site, the App and Services, may include links that redirect you to other websites. This Policy does not not extend to such third-party websites. Once you leave our servers, any third-party website that you go to or interact with are at your own risk. Civis shall not be held liable for any risk your personal information may be exposed to as a result of the same.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Withdrawal of Consent' | translate}}</p>
    <p class="detail-content">
      {{'Where the processing of your Personal Information is based on your consent, you have the right to withdraw your consent at any point in time in accordance with this Policy. Please note that should the withdrawal of consent result in us not being able to continue offering our Service(s) to you, we reserve the right to withdraw or cease offering our Service to you upon your consent withdrawal.' | translate}}
    </p>
    <p class="detail-content">
      {{'You may withdraw consent by contacting us with a written request to the contact details provided in the "Grievance Redressal" section below. Upon receipt of your request to withdraw your consent, the consequences of withdrawal will be communicated to you. Upon your agreement to the same, your request for withdrawal will be processed and we will cease processing your personal information and erase your personal data. We may also cease offering our Services to you, at such time.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Personal Data of Minors' | translate}}</p>
    <p class="detail-content">
      {{'Our services are not directed at children. Our Terms of Service prohibit the purchase of our Services by Users below 18 years of age who reside in India or any other country (except USA, UK, or EU).' | translate}}
    </p>
    <p class="detail-content">
      {{'Residents of USA, UK and EU may refer to our Terms of Service for country-specific age requirements. For users from these jurisdictions that have not attained 18 years of age, we will collect and process their personal data only with the consent of their parents or lawful guardians. We do not intentionally collect or process the personal information of children. We will not undertake tracking or behavioral monitoring of children or direct targeted advertising at children.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Information Security' | translate}}</p>
    <p class="detail-content">
      {{'We work to protect the security of your information during transmission by using Transport Layer Security (TLS) or Secure Sockets Layer (SSL) software (depending on your browser/supported device), which encrypts information you input in addition to maintaining security of your information as required under applicable laws, and in accordance with industry standards.' | translate}}
    </p>
    <p class="detail-content">
      {{'We maintain electronic, and procedural safeguards in connection with the collection, storage, and disclosure of Personal Information (including Sensitive Personal Information). Our security procedures mean that we may occasionally request proof of identity before we disclose Personal Information to you that belongs to you.' | translate}}
    </p>
    <p class="detail-content">
      {{'However, no form or method of data storage or transmission system is fully secure, and we cannot guarantee that security provided by such system(s) is absolute and that your information will not be accessed, disclosed, or destroyed in the event of a breach of any of our security measures.' | translate}}
    </p>
    <p class="detail-content">
      {{'It is important for you to protect your account against unauthorized access to or use of your password and to your computer and if you have any reason to believe that your password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorized manner, you must immediately change your password or inform us, so that we are able to help you stop or prevent such unauthorized access. Be sure to sign off when you finish using a shared computer.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Modification to Privacy Policy' | translate}}</p>
    <p class="detail-content">
      {{'The Services we offer change constantly and our Policy may change from time to time. We may, at our discretion (and when required by applicable laws to mandatorily do so), email periodic reminders of our notices and conditions. Unless stated otherwise, our current Policy applies to all information that we have about you and your account. We stand behind the promises we make, however, and will not materially change our policies and practices making them less protective of customer information collected in the past without your consent. The latest version of the Policy will be made available at all times on our Site. By continuing to use the Services after Privacy Policy changes go into effect, you agree to be bound by the revised policy.' | translate}}
    </p>
  </div>

  <div class="privacy-wrapper__detail">
    <p class="detail-title">{{'Grievance Redressal' | translate}}</p>
    <p class="detail-content">
      If you have any questions about this Policy, wish to exercise your rights, have concerns about privacy of your data or any privacy related grievances in respect of the Site, please write to us with a thorough description via email to <a href="mailto:grievances@civis.vote">grievances@civis.vote</a> or via registered post to the below address:
    </p>
    <p class="detail-content">
      Civis,<br>
      c/o Jai Hind Building,<br>
      Ist Floor, 106,<br>
      Nagindas Master Road, Fort,<br>
      Mumbai, Maharashtra - 400 001
    </p>
  </div>

</div>
<app-footer></app-footer>
