<div class="about-us-wrapper">
  <section>
    <h1>About Us</h1>
    <div class="first-para">
      Civis is a community-driven non-profit platform built and maintained by Civic Innovation Foundation. It was
      founded in 2018 by Antaraa Vasudev with an aim to increase citizen participation in the lawmaking process, to
      generate public awareness and provide education on issues of civic importance.
    </div>
  </section>
  <section class="quote-section">
    <div class="quote-text">
      <q>No office in this land is
        <div class="sep-text">more important</div>
        than that of being a citizen</q>
    </div>
    <div class="quotemaster">Felix Frankfurter</div>
  </section>
  <section class="what-we-do">
    <h1>What We Do</h1>
    <div class="section-content">
      <div class="video-section">
        <iframe src="https://www.youtube.com/embed/O20DsP3oWB0" title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
      <div>
        <p>
          Through this platform and many civic initiatives, the organisation works to build effective dialogue between
          governments and citizens on draft laws and policies at a national, state, city and ward level.
        </p>
        <p>
          The work done at Civis complements and furthers the <b>Pre-Legislative Consultation Policy 2014</b> - a
          measure
          of the
          Indian government that encourages lawmakers to consult with citizens and relevant stakeholders through
          public
          consultations before finalising the draft law.
        </p>
      </div>
    </div>
  </section>
  <section class="cards-section">
    <h1>At Civis, We...</h1>
    <div class="cards-list">
      <div class="info-card-wrapper" *ngFor="let card of atCivisCards"
        [ngClass]="card.isSpecialCard ? 'special-card' : ''">
        <div class="info-card">
          <div>
            <img [src]="card.image" [alt]="card.text" />
          </div>
          <div class="text">
            <span class="bolded">{{card.text}}</span>{{card.normalText}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="why-participate">
    <h1>Why Participate, You Ask?</h1>
    <div class="paras">
      <p>India has a population of 1.2 billion, and each one of us has an opinion. We argue about them over cups of
        chai, in our family Whatsapp groups, at our parlours and our barber's, on the news and in our living rooms, we
        scream them and we whisper them, we type them and we recite them. It's all a bit of chaos, really.
      </p>
      <p>Now, imagine a space that could filter out all of that noise, and give shape and direction to the countless
        conversations going on at any given time all over the country - imagine a space that could be a platform for
        you, the citizen's, voice to emerge front and center.
      </p>
    </div>
    <div class="hr"></div>
    <div class="text-center cta-text">
      <b>Civis is that space</b>, where you can voice your opinions and help shape the laws that impact you!
    </div>
    <div class="text-center">
      <button class="app-btn abt-btn circular" [routerLink]="['/how-civis-works']">How we work</button>
    </div>
  </section>
  <section class="team-section">
    <h1>The People Behind Civis</h1>
    <div class="title">The Team</div>
    <div class="members-list">
      <ng-container *ngFor="let teamMember of teamMembers">
        <a [href]="teamMember.href" target="_blank" class="member-link" [ngClass]="teamMember.class">
          <div class="member-card">
            <img [src]="teamMember.image" [alt]="teamMember.name" />
            <div class="name">{{teamMember.name}}</div>
            <div class="member-description">{{teamMember.description}}</div>
          </div>
        </a>
      </ng-container>
    </div>
  </section>
  <section class="supporters-section">
    <div class="title">OUR SUPPORTERS</div>
    <div class="img-list">
      <ng-container *ngFor="let supporter of supporters">
        <a [href]="supporter.href" target="_blank">
          <img [src]="supporter.image" [alt]="supporter.alt" />
        </a>
      </ng-container>
    </div>
  </section>
  <section class="partners-section">
    <div class="title">PAST CONSULTATION PARTNERS</div>
    <div class="img-list">
      <ng-container *ngFor="let pastPartner of pastPartners">
        <a [href]="pastPartner.href" target="_blank">
          <img [src]="pastPartner.image" [alt]="pastPartner.alt" />
        </a>
      </ng-container>
    </div>
  </section>
  <section class="resources-section">
    <div class="title">RESOURCES <br /> AND SPECIAL PROJECTS</div>
    <div class="resource-cards-container">
      <div *ngFor="let resource of resources" class="resource-card">
        <h2>{{resource.title}}</h2>
        <div>{{resource.description}}</div>
        <button class="app-btn abt-btn circular">
          <a [href]="resource.href" target="_blank">{{resource.buttonText}}</a>
        </button>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
