<app-confirmation-modal *ngIf="confirmModalOpen" [message]='confirmMessage'
  (close)='optionTranslate($event)'></app-confirmation-modal>
<app-toast></app-toast>
<app-navbar></app-navbar>
<app-error></app-error>
<router-outlet></router-outlet>
<app-city-selection-modal *ngIf="showCitySelection" [isPrivate]="isPrivate">
</app-city-selection-modal>

<!-- maintenance-banner -->
<!-- <div class="maintenance-banner">
  <div>
    <img class="logo" src="assets/images/navlogo.png">
    <h2>
      We are down for maintenance. <i class="fa fa-wrench clr-blue"></i>
    </h2>
    <h3>In the meantime, if you need to get in touch, our email is <a href="mailto:info@civis.vote"
        class="clr-blue">info@civis.vote</a></h3>
  </div>
</div> -->