<app-confirmation-modal *ngIf="confirmModalOpen" [message]='confirmMessage' (close)='optionTranslate($event)'></app-confirmation-modal>
<app-toast></app-toast>
<app-navbar></app-navbar>
<app-error></app-error>
<router-outlet></router-outlet>
<app-city-selection-modal *ngIf="showCitySelection" [isPrivate]="isPrivate">
</app-city-selection-modal>

<div class="app-notification-icon-wrapper" (click)="openNotificationDrawer()">
    <i class="fa fa-bell app-notification-icon"></i>
</div>

<ng-container *ngIf="showDrawer">
  <app-notification-drawer ></app-notification-drawer>
</ng-container>




