<section class="read-response-container" *ngIf="!loading">
  <div class="paper-effect">
    <div class="summary-section">
      <p class="heading">
        {{'Summary' | translate}}
        <span>{{profileData?.readingTime ? '(' + profileData?.readingTime + ' min)' : '' }}</span>
      </p>
      <div class="language-dropdown" *ngIf="hasContentForLanguage">
        <ng-select
          [items]="availableLanguages"
          bindLabel="name"
          bindValue="id"
          [clearable]="false"
          [searchable]="false"
          (change)="onLanguageChange()"
          [(ngModel)]="selectedLanguage">
        </ng-select>
      </div>
    </div>
    <div *ngIf="profileData?.englishSummary || profileData?.hindiSummary || profileData?.odiaSummary || profileData?.marathiSummary">
      <app-page-content-renderer [page]="profileSummary">
      </app-page-content-renderer>
    </div>
  </div>

  <div *ngIf="showCreateResponse()">
    <div *ngIf="questionnaireExist ; else responseTextContainer">
      <app-consultation-questionnaire [profileData]="profileData" (openThankYouModal)="showThankYouModal = true; earnedPoints = $event">
      </app-consultation-questionnaire>
    </div>
    <ng-template #responseTextContainer>
      <app-consultation-response-text [profileData]="profileData" (openThankYouModal)="showThankYouModal = true; earnedPoints = $event" [responseText]="responseText"></app-consultation-response-text>
    </ng-template>
  </div>
  <div *ngIf="profileData?.reviewType !== 'policy'">
    <ng-container *ngIf="consultationId !== WHITE_LABEL_CONSULTATION_ID">
      <app-satisfaction-rating-distribution [satisfactionRatingDistribution]="satisfactionRatingDistribution" [profileData]="profileData"></app-satisfaction-rating-distribution>
    </ng-container>
    <app-consultation-public-responses></app-consultation-public-responses>
  </div>
</section>
<ng-container *ngIf="loading">
  <section class="read-response-container">
    <div class="paper-effect d-flex justify-content-center align-items-center" style="height: 500px;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </section>
</ng-container>
<app-thank-you-modal *ngIf="showThankYouModal" [points]="earnedPoints" [profileData]="profileData" (closeThankYouModal)="onCloseThanksModal()">
</app-thank-you-modal>
<app-profane-modal *ngIf="isConfirmModal" [message]='confirmMessage' [showCancel]=false (close)='confirmed($event)'></app-profane-modal>
